@model IEnumerable<FrontEnd.Models.Entities.Cliente>

@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="card">
    <div class="card-header card-header-icon card-header-warning">
        <div class="card-icon">
            <i class="material-icons">Clientes</i>
        </div>
        <h4 class="card-title ">Listado de Clientes</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th>
                            Cédula
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Editar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CEDULA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOMBRE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.APELLIDO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TELEFONO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ESTADO)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Actualizar", "Cliente", new { cedula = item.CEDULA }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <a href="/Cliente/Index" class="btn btn-reddit">Regresar</a>
    </div>
</div>
